
# Build outputs
# Cache
# Core dumps
# Coverage
# Dependencies
# Environment
# Environment files
# IDE
# Logs
# Misc
# OS
# Secrets (never commit)
# Temp files
# Test coverage
**/dist/
**/node_modules/
*.core
*.env
*.key
*.local
*.log
*.pem
*.sublime-*
*.swo
*.swp
*.temp
*.tmp
*.tsbuildinfo
.DS_Store
.cache/
.env
.env.*.local
.env.local
.eslintcache
.idea/
.next/
.nyc_output/
.parcel-cache/
.vscode/
Thumbs.db
build/
core
coverage/
dist/
lerna-debug.log*
node_modules/
npm-debug.log*
out/
pnpm-debug.log*
secrets/
yarn-debug.log*
yarn-error.log*
